@model prueba1.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Baja física</h2>

<h3>¿Esta seguro que desea eliminar este usuario?</h3>
<h4>Advertencia: debido a que se trata de una baja física el usuario los datos del usuario se perderan</h4>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
        <span><b>Nombre</b></span>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
        <span><b>Apellido</b></span>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido)
    </div>

    <div class="display-label">
         <span><b>Correo electronico</b></span>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mail)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Eliminar usuario" /> |
        @Html.ActionLink("Ir a inicio", "Index", "Home")
    </p>
}
