@*@model prueba1.Models.Usuario

@{
    ViewBag.Title = "Details";
}*@

<div ng-controller="myCtrl">
    <h2>Datos completos</h2>


<fieldset >
    <legend>Usuario</legend>

    <div class="display-label">
         <span><b>Nombre</b></span>
    </div>
    <div class="display-field">
          <span class="text-center"> {{usuario.Nombre}}</span>
@*        @Html.DisplayFor(model => model.Nombre)*@
    </div>

    <div class="display-label">
         <span><b>Apellido</b></span>
    </div>
    <div class="display-field">
        <span class="text-center"> {{usuario.Apellido}}</span>
@*        @Html.DisplayFor(model => model.Apellido)*@
    </div>

    <div class="display-label">
         <span><b>Correo Electronico</b></span>
    </div>
    <div class="display-field">
        <span class="text-center"> {{usuario.mail}}</span>
@*        @Html.DisplayFor(model => model.mail)*@
    </div>
</fieldset>
<p>
@*    @Html.ActionLink("Modificar", "Edit", new { id=Model.mail }) *@
    @Html.ActionLink("Ir a inicio", "Index","Home")
</p>


</div>

