@*@model IEnumerable<prueba1.Models.Usuario>*@


<h2>Gestion de usuarios</h2>

<a ng-href="@Url.Content("~/User/Create/")">
    <button type="button" class="btn pull-right"> Crear nuevo usuario </button>
</a>

<div ng-controller="myCtrl">

    <table class="table table-striped">
        <tr>
            <th class="text-center">
                <span>Nombre</span>
                <input type="text" ng-model="search.Nombre"/>
            </th>
            <th class="text-center">
                <span>Apellido</span>
                <input type="text" ng-model="search.Apellido"  />
            </th>
            <th class="text-center">
                <span>Correo Electronico</span>
                <input type="text" ng-model="search.mail"  />
            </th>
        </tr>


        <tr ng-repeat="us in usuarios | filter:search:startsWith">
            <td class="text-center"> {{us.Nombre}}</td>
            <td class="text-center">{{us.Apellido}}</td>
            <td class="text-center">{{us.mail}}</td>
            <td class="text-center">
                <a ng-href="@Url.Content("~/User/Edit/"){{us.mail}}"><button type="button" class="btn-default pull-right"> Modificar </button></a>
                <a ng-href="@Url.Content("~/User/Details/"){{us.mail}}"><button type="button" class="btn-default pull-right"> Consultar datos completos</button></a>
                <a ng-href="@Url.Content("~/User/LogicDelete/"){{us.mail}}"><button type="button" class="btn-default pull-right"> Baja Logica </button></a>
                <a ng-href="@Url.Content("~/User/Delete/"){{us.mail}}"><button type="button" class="btn-default pull-right"> Baja Fisica </button></a>
            </td>
        </tr>

    </table>

</div>

@*<table ng-controller="myCtrl">
    <tr>
        <th>
            <span>Nombre</span>
            <input type="text" name="nombre" id="name" />
        </th>
        <th>
            <span>Apellido</span>
            <input type="text" name="apellido" id="surname" />
        </th>
        <th>
            <span>Correo Electronico</span>
            <input type="text" name="mail" id="email" />
        </th>
    </tr>*@

@*@using (Ajax.BeginForm("Index", "User", null , new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "resultados"  
    
}, new { id = "Formulario" })) // set new Id name for  Form
{
    <input type="hidden" name="nombre" id="name" />
}
    
    <div id="resultados">

    </div>*@


@*        @foreach (var item in Model) 
        {
            if (item.activo)  // Baja lógica
            {     
            <tr>
                <td id="nombre" ng-model="usuarios[$index]">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td id="apellido">
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td id="mail">
                    @Html.DisplayFor(modelItem => item.mail)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id=item.mail }) |
                    @Html.ActionLink("Consultar datos completos", "Details", new { id=item.mail }) |
                    @Html.ActionLink("Baja Fisica", "Delete", new { id=item.mail }) |
                    @Html.ActionLink("Baja Logica", "LogicDelete", new { id=item.mail })
                </td>
            </tr>
            }  
        }*@





    
@*<script>

    // Filtro por nombre
    $(function () {

        $("#name").keyup(function () {
            var texto = $(this).val();

            $(".dato").each(function () {
                var nombre = $(this).children("#nombre").text();
                var resultado = nombre.toUpperCase().indexOf(' ' + texto.toUpperCase());

                if (resultado < 0) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });

    // Filtro por apellido
    $(function () {

        $("#surname").keyup(function () {
            var texto = $(this).val();

            $(".dato").each(function () {
                var nombre = $(this).children("#apellido").text();
                var resultado = nombre.toUpperCase().indexOf(' ' + texto.toUpperCase());



                if (resultado < 0) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });

    // Filtro por mail
    $(function () {

        $("#email").keyup(function () {
            var texto = $(this).val();

            $(".dato").each(function () {
                var nombre = $(this).children("#mail").text();
                var resultado = nombre.toUpperCase().indexOf(' ' + texto.toUpperCase());

                if (resultado < 0) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });


</script>*@

@*</table>*@





