<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <title> Gestion de usuarios </title>
        <meta charset="utf-8" />                                                                          
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />                    

        @Scripts.Render("~/bundles/jquery") 
        @Scripts.Render("~/bundles/bootstrap")    
        @Scripts.Render("~/bundles/angularJs") 
        @Scripts.Render("~/bundles/appJS")  
        @Scripts.Render("~/bundles/modernizr")
        @*@Styles.Render("~/Content/css") *@
        @Styles.Render("~/Content/toastr") 
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="~/Content/estiloPropio.css" rel="stylesheet" />

    </head>


    <body>

@*        <header>
            <div>
                <div class="segundo">
                    @RenderSection("login", required: false)
    
                </div>
            </div>
        </header>*@


        <div id="body">
            @RenderSection("menu", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>


        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Sistema de usuarios</p>
                </div>
            </div>
        </footer>

    </body>
</html>
