<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />                                             
        <title ng-bind="models.helloAngular"></title>                               
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

@*        @Styles.Render("~/Content/css") *@
        @Scripts.Render("~/bundles/jquery") 
        @Scripts.Render("~/bundles/bootstrap")    
        @Scripts.Render("~/bundles/angularJs") 
@*         @Scripts.Render("~/bundles/appJS")  *@
        @Styles.Render("~/Content/toastr") 
        @Scripts.Render("~/bundles/modernizr")                                   
        <script src="~/Scripts/angularJS/home.js"></script>

    </head>

    <body>

        <header>
            <div>

                <div class="segundo">
                    @RenderSection("login", required: false)
    
                </div>
            </div>
        </header>


        <div id="body">
            @RenderSection("menu", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>


        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Sistema de usuarios</p>
                </div>
            </div>
        </footer>

<div ng-app="myApp" ng-controller="myCtrl">

    Primer nombre: <input type="text" ng-model="firstName" />
    Segundo nombre: <input type="text" ng-model="lastName" />
@*    Tercer nombre: <input type="text" ng-model="arrayNames[1]" />*@

    <p>{{fullName}}</p>
    <p>{{firstName}}</p>

    <input type="button" ng-click="function2()" value="Boton"/>


</div>


  
        @RenderSection("scripts", required: false)   
        
        

   
    </body>
</html>
